* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

.gradient {
    background: linear-gradient(#fba4d1, #eb6beb);
}

.header {
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(180, 177, 241);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
}

.simula-logo {
    float: left;
    width: 5em;
}

.header-right {
    float: right;
    font-family: Roboto;
    padding: 7px;
}

a {
    text-decoration: none;
    padding: 3px;
}

.astrology-link {
    color: #07346e; 
}

.reading-link {
    color: #cc008b;
}

h1 {
    padding-top: 150px;
    text-align: center;
    font-family: Playfair Display;
}

h2, h3 {
    text-align: center;
    font-family: Playfair Display;
}

.chart-heading {
    padding-top: 100px;
}

p {
    font-family: Roboto;
}

img {
    width: 10em;
}

.icons-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    height: 300px;
}

.saturn-planet {
    padding-right: 20px;
}

.moon-and-stars {
    padding-right: 30px;
}

.envelope-heart {
    padding-right: 100px;
}

@media (max-width: 500px) {
    .icons-center {
      flex-direction: column;
    }
  }

.buttons-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    padding: 5px;
}

.button-design {
    display: inline-block;
    background: transparent;
    border-style: double;
    border-color: white;
    border-radius: 10px;
    padding: 16px 20px;
    font-family: Quicksand;
    color: white;
    font-size: 16px;
    margin-right: 5px;
}

.button-design:hover {
    background-color: #f6b1e0
}

@media (max-width: 800px) {
    .buttons-center {
      flex-direction: column;
    }
  }

.hide{
    visibility: hidden;
}

.reveal{
    visibility: visible;
}

.birth-chart-text {
    text-align: center;
    font-style: italic;
    font-family: Roboto;
    font-size: 14px;
}

.astro-widget {
    text-align: center;
    padding: 100px;
}

#card-box {
    text-align: left;
    padding: 100px;
    font-family: Tenor Sans;
}

.tarot-bios {
    display: flex;
}

.bio-cards {
    box-shadow: 0 4px 10px 0;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    border-radius: 5%;
}

.bio-cards-2 {
    box-shadow: 0 4px 8px 0;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    border-radius: 5%;
}

#tarotstrologers {
    padding-top: 120px;
    padding-bottom: 400px;
}

#book-reading {
    padding-top: 150px;
    padding-bottom: 200px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px;
}
.learn-zodiac {
    text-align: center;
}

@media (max-width: 800px) {
    .show-content {
      flex-direction: column;
    }
  }

.form-design {
    background-color: #FDE2F3;
    font-family: Roboto;
    padding: 30px 50px 50px 50px;
    border-radius: 10%;
}

input[type=text], input[type=email], .reading-type-form {
    width: 100%;
    padding: 5px;
    border: 1px, solid #ccc;
    border-radius: 5px;
    font-family: Roboto;
}

textarea {
    width: 300px;
    padding-bottom: 100px;
    border: 1px, solid #ccc;
    border-radius: 5px;
    font-family: Roboto;
}

.submit-button {
    display: block;
    background-color: #e2a4f8;
    border-radius: 10%;
    font-family: Roboto;
    border: none;
    padding: 10px;
    float: right;
}

#signs {
    padding: 150px;
}

#zodiac-image {
    width: 800px;
}

.button-bio {
    background-color:#2f038f;
    color: white;
    font-family: Inter Tight;
    border-radius: 5%;
}

#zodiacSelect {
    width: 200px;
    padding: 5px;
    font-family: Roboto;
}

footer {
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(180, 177, 241);
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}